<div class="container">
  <div class="p-2">
    <h3><%= t('links.questions_with_hashtag') %> <%= @hashtag.name %></h3>
  </div>

  <div class="p-2">
      <% @questions.each do |question| %>
        <div class="p-2 m-1 border rounded">
          <%= render partial: 'questions/question', object: question %>
        </div>
      <% end %>      
  </div>
</div>
