<footer class="d-flex justify-content-center align-items-center footer py-2 bg-light">
  <div>
    <small class="mb-2">
      Copyright &copy; <%= link_to 'Kristina Goncharova', 'https://github.com/kgoncharova/', target: "_blank" %>
    </small>
  </div>
</footer>
