<footer class="d-flex justify-content-center align-items-center footer py-2 bg-light">
  <div>
    <small class="mb-2">
      Copyright &copy; <%= link_to 'tinawebdev', 'https://github.com/tinawebdev/', target: "_blank" %>
    </small>
  </div>
</footer>
